.intro-section {
  display: flex;
  height: 100vh;
  max-width: 1600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;

  .video-tag {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    z-index: 10;
    max-width: 100%;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}
